#view_wrap
{
    position: absolute;
    top:0;
    left: 0;
    width: 320px;
}

table#view td
{
    border: 1px dotted lightgray;
    width: 32px;
    height: 32px;
}

table#view td.v
{
    border: 1px solid black;
}

table#view td.wall
{
    background: LightBlue;
}

table#view td.target
{
    border: 2px solid red;
}

#menu>button
{
    float: left;
}

#menu>span
{
    display: block;
    overflow: hidden;
    padding-right: 8px;
}

#test-msg
{
    width: 100%;
}
